//- layout.jade
doctype html
html
  head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles.css")
    block title
      title Passport.js example
  body
    .container-fluid
      block content
