//- login.jade
extends ./layout.jade

block content
  .login-page
    h1 Login
    a(class="login-control-google", href="/auth/google")
      img(src="/button-gplus.png", alt="Google Logo")
      p Login with Google
